* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  width: 400px;
  margin: 0 auto;
  margin-top: 2rem;
  border-top: 6px solid #ff7200;
  padding: 5px;
  background: #fafafa;
}
